/* FILE: <_typography.css> */

body {
    font-family: var(--font-primary);
    font-size: 12pt;
    font-weight: normal;
    line-height: 1.5;
    color: var(--color-text-primary);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color-primary);
    font-family: var(--font-primary);
    font-weight: 400;
    padding: 0;
    margin: 0;
}


.h1 {
    font-size: 64pt;
    line-height: 1.2;
}


.h2 {
    font-size: 24pt;
    line-height: 1.2;
}

p {}

p-max {}

p-min {}

strong,
.strong {
    font-weight: 600;
}

a {
    color: var(--color-text-primary);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

i,
.i {
    position: relative;

    font-style: normal;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

article {
    font-family: 'Courier New', Courier, monospace;
}

/* Do Stuff... */