.image-season {

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    z-index: -1;

    filter: grayscale(100%) saturate(10%) brightness(10%) contrast(90%);
}

.image-season-inner {
    width: 100vw;
    height: 100vh;
    background-repeat: repeat-x;
    background-size: auto 100vh;
    animation: slide 70s linear infinite forwards;
}

@keyframes slide {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: -100% 0;
    }
}

.snowflake {
    animation: falling 10s infinite, fadeOut 8s 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    position: fixed;
}



@keyframes falling {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100vh);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.ux-show {
    transition: all 0.8s;

    height: 270px;
    overflow: hidden;
}

.ux-hide {
    transition: all 0.8s;


    height: 0px;

    overflow: hidden;
}

.ui-down {
    animation: ui-down 2s 0s infinite both;
}

@keyframes ui-down {
    0% {}

    50% {
        transform: translateY(10px);
    }
}