.cmp-back-to-top .back-to-top-cnt {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 28px;
    height: 28px;

    border-radius: 50%;

    background: rgba(107, 102, 102, 0.39);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.main-inner .section-inner {

    /* border: 1px solid var(--color-border-primary); */

    padding: 8px;
    height: calc(100vh - 100px);
}

#home .section-inner {
    display: flex;
    align-items: center;
}

.section-cnt .section-item img {
    background-repeat: no-repeat;
    background-size: contain;

    width: 139px;
    height: 139px;
}

.img-inner .img-element {

    height: 32px;
    width: 32px;
    background-size: contain;
    margin-right: 8px;
}

.section-inner .section-cnt .article-inner {

    width: 100%;
    height: max-content;

    margin-top: 50px;
    padding: 20px 30px;

    background: rgba(114, 114, 114, 0.22);
    box-shadow: 0px 4px 20px 8px rgba(0, 0, 0, 0.1);
    border-radius: 37px;
}

.section-cnt .projects-grid {
    height: 100%;
    width: 100%;

    margin-top: 40px;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
    grid-gap: 10%;
}

.projects-grid .grid-cell {
    max-width: 20em;
    background: #424242;
    box-shadow: -1px 0px 9px 6px rgba(0, 0, 0, 0.1);
}

.projects-grid .grid-cell .grid-cell-inner {
    padding: 15px;

    max-width: 40em;
    width: max-content;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    height: 100%;
    width: 100%;

    font-size: 12px;
}

.grid-footer .grid-footer-element {
    display: flex;
    justify-content: start;
    align-items: center;

    margin-top: 10px;
}

.grid-cell .h3 {
    color: #58a6ff;
    font-size: 14px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    gap: 5px;
}

.grid-footer-ico {
    fill: white;
}

.grid-footer-circle {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.circle-yellow {
    background: #ffee58;
}

.circle-red {
    background: #ff5858;
}