header {
    width: 100%;
    position: fixed;
    z-index: 1;
}

header div.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 8px;
    background-color: var(--color-bg-tertiary);
    border-radius: 0px 0px 7px 7px;

}

header div.inner div.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

header div.inner ul.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

header div.inner ul.nav li a {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 2px 10px 7px 7px;

    border-width: 1px 3px 4px 2px;
    border-style: solid;
    border-color: #000000;
    border-radius: 4px;
}