.icon {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-size: contain;
    background-repeat: no-repeat;
}

.vscode {

    background-image: url("../img/logos/vscode_logo.png");
}

.tux {
    background-image: url("../img/logos/tux_logo.png");
}

.javaScript {
    background-image: url("../img/logos/js_logo.png");
}

.redes {
    background-image: url("../img/logos/redes.png");
}


.title .icon {
    background-size: 48px;
    width: 50px;
    height: 50px;
    background-position: 0px 4px;
}