body {
    position: relative;
    background-color: var(--color-bg-site);
    padding: 50px;
    scroll-behavior: smooth;
}

.main-inner {
    margin-left: 130px;
    scroll-behavior: smooth;
}

#home {
    padding-bottom: 80px;
}

#about-me {

    padding-top: 80px;
}

@media screen and (max-width: 958px) {
    .main-inner {
        margin-left: 0px;
        margin: auto;
    }

    #home .section-inner {
        display: block;
    }
}