main div.inner {
    position: absolute;
    display: flex;

    flex-direction: row;

    left: 0px;
    right: 0;

}

main div.inner section {
    height: 100vh;
    min-height: min-content;
    width: 100%;
    border: solid red 1px;
    overflow: hidden;
    padding: 18px;
}

main div.inner section#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main div.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

main div.inner section#home div.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main div.inner section#home div.item {
    height: min-content;
}

main div.inner section#home div.item .subitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.subitem .icon.altasLogo {
    background-size: cover;
    width: 80px;
    height: 80px;
}

main ul.logosList {
    display: flex;
    gap: 8px;
    margin-top: 12px;
}