html {
    scroll-behavior: smooth !important;
}

body {
    position: relative;
    background-color: var(--color-bg-site);
    padding: 50px;
    scroll-behavior: smooth !important;
}

.main-inner {
    margin-top: -50px;
    margin-left: 130px;
}


@media screen and (max-width: 958px) {
    .main-inner {
        margin-left: 0px;
        margin: auto;
    }

    #home .section-inner {
        display: block;
    }
}