.navbar-top .navbar-top-inner {
    position: fixed;
    height: 50px;

    top: 0;
    left: 50px;
    right: 50px;

    /* background-color: var(--color-bg-site); */
    z-index: 1;
}

.navbar-top .navbar-top-inner .navbar-cnt {
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 20px;
    height: 100%;
}

.navbar-top .navbar-top-inner .navbar-cnt .navbar-item {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-top .navbar-top-inner .navbar-cnt .navbar-item .item-ico {
    margin-right: 5px
}

.navbar-cnt .icon {
    background-position: 0px 3px;
    background-size: 19px;
}

.navbar-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-top-inner .navbar-cnt .navbar-item .ico-logo {


    display: inline-block;
    width: 21px;
    height: 21px;
    background-size: contain;
    background-image: url("../img/logos/altas_logo.png");
}

/* Footer  */

.footer-inner {
    position: fixed;

    height: 50px;

    bottom: 0;
    left: 50px;
    right: 50px;
    /* background-color: var(--color-bg-site); */
}

.footer-cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    height: 100%;

}

.navbar-footer .navbar-footer-inner .navbar-cnt {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 20px;
    height: 100%;
}


.navbar-footer .navbar-footer-inner .navbar-cnt .navbar-item .item-ico {
    margin-right: 6px;
}


@media screen and (max-width: 958px) {
    .navbar-top .navbar-top-inner {
        left: 0;
        right: 8px;
    }

    .footer-inner {
        left: 8px;
        right: 8px;
    }
}