section {
    min-height: max-content;
}

section div.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px;
    height: 100vh;
    min-height: min-content;
}

section div.inner div.title-wrapper {
    display: flex;
    flex-direction: row;

    text-align: left;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

section div.inner article.item {
    width: auto;
    max-width: 70em;
}

section div.inner div.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-rows: auto;
    gap: 25px;
}

div.card-container div.card {
    width: 90px;
    height: 100px;


    background: #6D6D6D;
    border-radius: 10px;
}

div.card-container div.card div.head {

    width: 100%;
    height: 80%;
    border-radius: 10% 10% 0% 0%;

    padding: 8px 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 1s, box-shadow 0.5s;

}

div.card-container div.card div.head:hover {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);

}

#vscode div.card-container div.card div.head div.icon {
    width: 100%;
    height: 100%;
    background-position: center;
}

div.card-container div.card div.name {
    overflow: hidden;
    width: 100%;
    height: min-content;
}

div.name p {
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
}