/* FILE: <_typography.css> */

body {
    font-family: var(--font-primary);
    font-size: 12pt;
    font-weight: normal;
    line-height: 1.5;
    color: var(--color-text-primary);
    scroll-behavior: smooth;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color-primary);
    font-family: var(--font-primary);
    font-weight: 400;
    padding: 0;
    margin: 0;
}


.h1 {
    font-size: 42pt;
    line-height: 1.2;

    margin-bottom: 12px;
    width: fit-content;
}


.h2 {
    font-size: 18pt;
    line-height: 1.2;

    margin-bottom: 12px;
    width: fit-content;
}

p {}

p-max {}

p-min {}

strong,
.strong {
    font-weight: 700;
}

a {
    color: var(--color-text-primary);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

i,
.i {
    position: relative;

    font-style: normal;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

#about article {
    /* font-family: 'Courier New', Courier, monospace; */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: justify;


}

/* Do Stuff... */


.title::after {

    content: "";
    display: block;
    margin-top: 5px;
    height: 5px;
    width: 110%;

    background-color: var(--color-border-primary);
}



.subtitle::after {
    content: "";
    display: block;
    margin-top: 8px;

    height: 1px;
    width: 88%;

    background-color: var(--color-border-secondary);
}

div.card div.name {

    text-overflow: ellipsis;
}