<div class="wave-container">
  <div class="wave-track">
    <!-- Onda original -->
    <svg
      class="wave"
      width="50%"
      height="268"
      viewBox="0 0 2880 408"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M0 78.5946L69.6 56.6342C136.8 34.6739 273.6 -9.24687 410.4 1.73331C549.6 12.7135 686.4 78.5946 823.2 133.495C960 188.396 1096.8 232.317 1233.6 232.317C1370.4 232.317 1509.6 188.396 1646.4 166.436C1783.2 144.476 1920 144.476 2056.8 166.436C2193.6 188.396 2330.4 232.317 2469.6 243.297C2606.4 254.277 2743.2 232.317 2810.4 221.337L2880 210.357V408H2810.4C2743.2 408 2606.4 408 2469.6 408C2330.4 408 2193.6 408 2056.8 408C1920 408 1783.2 408 1646.4 408C1509.6 408 1370.4 408 1233.6 408C1096.8 408 960 408 823.2 408C686.4 408 549.6 408 410.4 408C273.6 408 136.8 408 69.6 408H0V78.5946Z"
      ></path>
    </svg>
    <!-- Duplicado para crear loop continuo -->
    <svg
      class="wave"
      width="50%"
      height="268"
      viewBox="0 0 2880 408"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M0 78.5946L69.6 56.6342C136.8 34.6739 273.6 -9.24687 410.4 1.73331C549.6 12.7135 686.4 78.5946 823.2 133.495C960 188.396 1096.8 232.317 1233.6 232.317C1370.4 232.317 1509.6 188.396 1646.4 166.436C1783.2 144.476 1920 144.476 2056.8 166.436C2193.6 188.396 2330.4 232.317 2469.6 243.297C2606.4 254.277 2743.2 232.317 2810.4 221.337L2880 210.357V408H2810.4C2743.2 408 2606.4 408 2469.6 408C2330.4 408 2193.6 408 2056.8 408C1920 408 1783.2 408 1646.4 408C1509.6 408 1370.4 408 1233.6 408C1096.8 408 960 408 823.2 408C686.4 408 549.6 408 410.4 408C273.6 408 136.8 408 69.6 408H0V78.5946Z"
      ></path>
    </svg>
  </div>
</div>

<style>
  .wave-container {
    position: relative;
    overflow: hidden;
  }

  .wave-track {
    display: flex;
    width: 200%;
    animation: continuous 10s linear infinite;
  }

  .wave {
    /* Cada SVG ocupa la mitad del ancho del track */
    width: 50%;
    fill: var(--bg-light);
  }

  @keyframes continuous {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
</style>
