---
import Header from "@components/Header.astro";
import HeroSection from "./HeroSection.astro";
import Wave from "./Wave.astro";
import YoutubeSection from "./YouTubeSection.astro";
import GitHubSection from "@components/githubSection/GitHubSection.astro";
---

<main>
  <Header />
  <HeroSection />
  <Wave />
</main>

<section>
  <YoutubeSection />

  <GitHubSection />
</section>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background: var(--bg-dark);
  }
</style>
