---
import Header from "@components/Header.astro";
import HeroSection from "./HeroSection.astro";
---

<main>
  <Header />
  <HeroSection />
</main>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
</style>
