@import url('../../src/assets/css/reset.css');
@import url('../../src/assets/css/base_variables.css');

body {

    padding: 0px;
    color: #FFFFFF;
    background: #353535;
    font-family: var(--font-primary);
    font-size: 12pt;
    font-weight: normal;
    line-height: 1.5;
    color: var(--color-text-primary);
}


nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 13px 0px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    mix-blend-mode: normal;
    border-radius: 0px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.nav-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}


nav .button {

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;

    width: 69px;
    height: 34px;

    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.button-inner {

    width: 57px;
    height: 22px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

header {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 38px 0px;
    gap: 10px;

    height: 258px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.068) 0%, rgba(255, 255, 255, 0) 100%);

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

header .logo {

    width: 124px;
    height: 124px;

    background: url("../../src/assets/img/logos/altas_logo.png") no-repeat center center;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 84px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

header .h1 {
    width: 146px;
    height: 48px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

main {

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 47px 0px;
    gap: 1px;

    border-top: 1px solid #818181;

    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

article {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 17px 0px;
    gap: 26px;

    width: 100%;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    text-align: center;
}

article:nth-child(0) {
    border-bottom: 1px solid #818181;
}

ul {
    width: 100%;
    padding: 0px;
}

li {
    list-style-type: none;

}